  @charset "utf-8";
  /* CSS Document */

  @font-face {
      font-family: fonte;
      src: url(../fontes/Coalition_v2.ttf);
  }

  #imagem_logo {
      width:110px;
      height:110px;
      vertical-align: center;
  }

  #imagem_banner {
      width: 95%;
      height: 480px;
      margin-left: auto;
      margin-right: auto;
  }

  #div1{
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;

  }   
  #div2{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 2px;
      border-radius: 20px;
      background-color: white;
      opacity: 0.7;
  }

  #body_index{
      background-image: url(../imagens/09.jpg); 
      background-repeat: no-repeat;
      padding: 25px;
      background-size: cover;
  }

  ul #menu {
      padding: 15px;
  }

  ul#menu li {
     display: inline;
  }

  ul#menu li a {
      font-family: fonte;
      background-color: magenta;
      font-weight: bolder; /* para negrito; */
      color: white;
      font-size: 30px;
      padding: 20px 120px;
      text-decoration: none;
      border-radius: 10px 10px 10px 10px;
      opacity: 1;
      /* line-height: 1.6;  Define a altura da linha;
                          n é o número que será multiplicado pelo 
                          tamanho da fonte do elemento para se obter
                          o tamanho da linha desejada.
                         */
  }

  ul#menu li a:hover {
      background-color: yellowgreen;
      color: black;
      font-size: 60px;
      font-weight: bolder;
      font-family: fonte;
      letter-spacing: 10px;/*espaçamento entre letras*/
  }

  #a{
     font-size: 60px;
     font-weight: bolder;
     font-family: fonte;
     text-decoration: none;
     background-color: limegreen;
     border-radius: 10px;
     padding: 20px;

  }

  #a:hover {
      background-color:pink;
      font-size: 50px;
      font-weight: bolder;
      font-family: fonte;
      letter-spacing: 5px;/*espaçamento entre letras*/
  }

  #p{
      text-align: justify;
      text-indent: 100px;
      font-family: fonte;
      font-size: 50px;
      line-height: 1;
      background-color: white;
      padding: 5px 20px;
  }

  #p1{
      font-weight: bolder;
      font-size: 50px;
      text-indent: 50px;
      font-family: fonte;
      background-color: white;
  }

  #p2{
     text-align: center;
  }

  #img_logo{
     width: 100px; 
     height: 75px;
     /*background-size: cover;*/
  }

  #a_top{
     font-size: 50px;
     font-weight: bolder;
     font-family: fonte;
     text-decoration: none;
     color: hotpink;

  }
